DATABASE_URL="postgresql://usuario:password@localhost:5432/tu_base_datos?schema=public"
FRONTEND_URL="http://localhost:5173,http://localhost:3000"
JWT_SECRET="tu_clave_secreta_super_segura"
NODE_ENV="development" # o "production"
PORT=3000